a {
  font-size: 1.5em;
}
.active,
.navbar:hover {
  color: white;
}
/* section jumbotron */
.jumbotron {
  height: 100vh;
  z-index: 2000;
}
#home {
  /* height: max-content; */
  padding-top: 20rem;
  padding-bottom: 20rem;
  background-color: #0e1111;
  z-index: -1;
}

.typewriter {
  color: #66fcf1;
  padding-bottom: 1rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: 0.15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.btn-jt {
  margin-top: 2rem;
}
#btn-contact {
  z-index: 1;
  background-color: #66fcf1;
}

/* section about */
#about {
  background-color: #66fcf1;
  color: #0e1111;
  /* padding-top: 2rem; */
  padding-bottom: 10rem;
}

#resume {
  /* background-color: #66fcf1; */
  /* color: #0e1111; */
  /* padding-top: 2rem; */
  padding-bottom: 10rem;
}
#bio {
  background-color: #0e1111;
  border-radius: 20px;
}
#bio h2 {
  margin-top: 2rem;
  color: aliceblue;
}
#education {
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: #0e1111;
  border-radius: 20px;
}
#experience {
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: #0e1111;
  border-radius: 20px;
}

.bio {
  padding: 30px;
  color: aliceblue;
}
.bio .li_wrap {
  display: flex;
  margin-bottom: 15px;
  margin-top: 1rem;
}

.bio .li_wrap .var-bio {
  width: 125px;
  color: #66fcf1;
}

.bio .li_wrap .info {
  width: calc(100% - 125px);
  padding-left: 25px;
  position: relative;
}

.bio .li_wrap .bio-val {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #66fcf1;
}

.education .li_wrap .info:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 2px;
  height: 90%;
  background: #66fcf1;
}
.education {
  padding: 30px;
  color: aliceblue;
}

/* education */
.education .li_wrap {
  display: flex;
  margin-bottom: 15px;
  margin-top: 1rem;
}

.education .li_wrap .date {
  width: 125px;
  color: #66fcf1;
}

.education .li_wrap .info {
  width: calc(100% - 125px);
  padding-left: 25px;
  position: relative;
}

.education .li_wrap .info_title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #66fcf1;
}

.education .li_wrap .info_com {
  font-weight: 300;
  font-size: 20px;
  margin-top: 2px;
}

.education .li_wrap .info_cont {
  margin-top: 15px;
}

.education .li_wrap .info:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #66fcf1;
  border-radius: 50%;
}

.education .li_wrap .info:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 2px;
  height: 90%;
  background: #66fcf1;
}

/* section project */
#projects {
  /* padding-top: 10rem; */
  padding-bottom: 10rem;
  background-color: #66fcf1;
}
.project-list {
  padding-top: 1rem;
  background-color: #0e1111;
  border-radius: 20px;
}
.project-list h2 {
  color: #66fcf1;
  padding-bottom: 1rem;
}

.project-des p {
  color: #66fcf1;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.seeMore {
  padding-bottom: 2rem;
}
#btn-seeMore {
  background-color: #66fcf1;
}
#contact {
  /* padding-top: 4rem; */
  color: aliceblue;
  padding-bottom: 30rem;
  background-color: #0e1111;
}
#btn-submit {
  background-color: #66fcf1;
}
section {
  padding-top: 5rem;
}
